html {
  overflow: hidden;
  height: 100vh;
}

body {
  margin: 0;
  width: 100vw; height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 10vh 90vh;
  background-color: rgb(221, 221, 221);
  font-family: Montserrat;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

button {
  font-family: Montserrat;
}

.optionsMenu {
  padding: 0 10px;
  grid-area: 1 / 1 / 2 / -1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 90px;
  z-index: 9999;
  display: grid;
  grid-template-columns: repeat(3, 70px) 10vw 9.5vw repeat(6, 1fr) 70px;
  background-color: rgb(38, 79, 112);
  color: white;

  #algo_title {
    align-self: center;
    justify-self: center;
    padding: 7px 9px;
    border-radius: 10px;
    background-color: white;
    color: rgb(38, 79, 112)
  }

  #algo_update {
    align-self: center;
    justify-self: center;
    position: relative;
    width: 100px;
    margin-top: 10.9px;
    svg {
      #status_circle_default {
        stroke: white;
        stroke-width: 1.4;
        fill: none;
        stroke-linecap: round;
      }
      #status_circle_percent {
        position: relative;
        z-index: 99999;
        stroke: rgb(92, 185, 88);
        stroke-width: 1.4;
        stroke-linecap: round;
        fill: none;
        stroke-dasharray: 35;
        stroke-dashoffset: 35;
      }
    }
    & > span {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 6;
      color: white;
    }
  }

  button {
    align-self: center;
    justify-self: center;
    font-size: 1em;
    background: none;
    color: white;
    border: none;
    margin: 0;
    &:hover, &:focus {
      outline: none;
      cursor: pointer;
      background-color: rgba(0,0,0,0.3);
    }
    &:focus {
      border: 2.5px solid rgba(16, 95, 241, 0.801);
    }
  }

  #reset { 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    &:hover div, &:focus div {
      opacity: 1;
      transition: opacity 200ms ease-in-out 1.5s;
    }
    &:hover svg, &:focus svg{
      animation: rotate 1.2s ease-in-out forwards;
    }
    @keyframes rotate {
      from {transform: rotate(0);}
      to {transform: rotate(-360deg);}
    }
    div {
      opacity: 0;
      position: absolute;
      z-index: 99;
      top: 100%;
      padding:  0.5em 0.8em;
      padding-top: 1em;
      background-color: rgb(39, 52, 63);
      clip-path: polygon(50% 0%, 65% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 35% 20%);
    }
    svg {
      fill: none;
      stroke: white;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-linejoin: round;
      width: 35px;
    }
  }

  #clear {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    border-radius: 5px;
    &:hover svg #eraserPath {
      transform: translate(-5px, 0) scaleX(1.5);
      animation: eraser 1s ease-in-out infinite;
    }
    &:hover div, &:focus div {
      opacity: 1;
      transition: opacity 200ms ease-in-out 1.5s;
    }
    @keyframes eraser {
      0% {
        transform: translate(0, 0) scaleX(1);
      }
      50% {
        transform: translate(-10px, 0) scaleX(1.7);
      }
      100% {
        transform: translate(0, 0) scaleX(1);
      }
    }
    div {
      opacity: 0;
      position: absolute;
      z-index: 99;
      top: 100%;
      padding:  0.5em 0.8em;
      padding-top: 1em;
      background-color: rgb(39, 52, 63);
      clip-path: polygon(50% 0%, 65% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 35% 20%);
    }
    svg {
      fill: none;
      stroke: white;
      stroke-width: 1.8;
      stroke-linecap: round;
      stroke-linejoin: round;
      width: 40px;
    }
  }

  &__menu {
    position: relative;
    display: grid;
    grid-template-rows: auto;

    &:hover, &:focus {
      background-color: rgba(0,0,0,0.3);
    }
    &:focus {
      outline: none;
      border: 2.5px solid rgba(16, 95, 241, 0.801);
      div {
        top: calc(100% + 2.5px);
        left: -2.5px;
        min-width: calc(100% + 5px);
      }
    }
    span {
      align-self: center;
      justify-self: center;
      display: flex;
      svg {
        margin-left: 10px;
        width: 20px;
        fill: none;
        stroke: white;
        stroke-width: 1.5;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
    input {
      display: none;
      &:checked + div {
        display: flex
      }
    }
    div {
      display: none;
      flex-direction: column;
      background-color: white;
      color: rgb(24, 47, 66);
      position: absolute;
      z-index: 9;
      top: 100%;
      left: 0;
      min-width: 100%;

      li:first-of-type {
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 99%; left: 10%;
          width: 30px; height: 10px;
          background-color: white;
          clip-path: polygon(0 100%, 50% 0, 100% 100%);
        }
        &:hover:after {
          background-color: rgb(185, 192, 198);
        }
      }
      
      li {
        position: relative;
        list-style: none;
        display: flex;
        flex-direction: column;
        button {
          padding: 0.8em 1em;
          white-space: nowrap;
          border: none;
          &:hover {
            background-color: rgba(24, 47, 66, 0.3);
          }
        }
        label {
          padding: 0.8em 1em;
          white-space: nowrap;
          &:hover {
            background-color: rgba(24, 47, 66, 0.3);
          }
        }
      }
    }
  }

  #start {
    align-self: center;
    justify-self: center;
    font-size: 1.3em;
    margin: 0 0.5em;
    padding: 0.5em 1em;
    background-color: rgb(92, 185, 88);
    transition: background-color 50ms linear;
    border-radius: 0.7em;
    &:hover, &:focus {
      background-color: darken($color: rgb(92, 185, 88), $amount: 5);
      cursor: pointer;
    }
  }

  &__playPause {
    justify-self: center;
    align-self: center;
    width: 35px; height: 35px;
    padding: 10px;
    border-radius: 5px;
    &:hover, &:focus {
      background-color: rgba(0,0,0,0.3);
      cursor: pointer;
    }
    &:focus {
      outline: none;
      border: 2.5px solid rgba(16, 95, 241, 0.801);
    }
    &:hover div, &:focus div {
      opacity: 1;
      transition: opacity 200ms ease-in-out 1.5s;
    }
    #pause {
      display: initial;
      fill: white;
    }
    #play {
      display: none;
      fill: white;
    }
    #pause_message {
      display: initial;
    }
    #play_message {
      display: none;
    }
    div {
      opacity: 0;
      position: absolute;
      z-index: 99;
      top: 100%;
      left: 18px;
      padding:  0.5em 0.8em;
      padding-top: 1em;
      background-color: rgb(39, 52, 63);
      clip-path: polygon(25% 0%, 10% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 40% 20%);
    }
  }

  &__slider {
    align-self: flex-end;
    margin: 0 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    input {
      margin-top: 10px;
      display: block;
      appearance: none;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      &:focus {
        outline: none;
        &::-webkit-slider-thumb {
          transform: scale(1.3);
          box-shadow: 0 0 0 2.5px rgba(16, 95, 241, 0.801);
        }
      }
      

      &::-webkit-slider-thumb {
        appearance: none;
        border: none;
        width: 13px; height: 13px;
        border-radius: 50%;
        background-color: white;
        transition: transform 100ms ease-in;

        &:hover, &:active {
          transform: scale(1.3);
        }
      }
    }

    div {
      position: absolute;
      bottom: 94%;
      clip-path: url(#slider_unit_clipPath);
      width: 20px; height: 26px;
      color: rgb(38, 79, 112);
      background-color: white;
      display: flex;
      align-items: flex-start; justify-content: center;
      &#random_sld_value {
        width: 22px;
      }
      span {
        font-size: 0.3em;
        font-weight: 600;
        margin: 0;
        margin-top: 5px;
      }
    }

    span {
      margin: 10px 3px;
      font-size: 0.8em;
    }
  }
}

canvas {
  align-self: center;
  justify-self: center;
  grid-area: 1 / 1 / -1 / -1;
}

#playPause {
  opacity: 0;
  position: absolute;
  &:checked + .optionsMenu #play {display: initial;}
  &:checked + .optionsMenu #pause {display: none;}
  &:checked + .optionsMenu #play_message {display: initial;}
  &:checked + .optionsMenu #pause_message {display: none;}
  &:checked ~ .pausedScreen {
    pointer-events: initial;
    opacity: 1;
  }
}

.pausedScreen {
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  grid-area: 2 / 1 / -1 / -1;
  position: absolute;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    svg {
      margin-top: 10px;
      width: 30px;
      fill: white;
    }
  }
}

@media screen and (max-width: 1200px) {
  body {
    * { display: none !important; }
    &::after {
      content: "You must use a broswer window larger than 1226x625 pixels to see this project";
      width: 100vw;
      height: 100vh;
      box-sizing: border-box;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5vh 5vw;
    }
  }
}

@media screen and (max-height: 600px) {
  body {
    * { display: none !important; }
    &::after {
      content: "You must use a broswer window larger than 1226x625 pixels to see this project";
      width: 100vw;
      height: 100vh;
      box-sizing: border-box;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5vh 5vw;
    }
  }
}