#canvas.twoD div {

  &.endc::before, &.endr::after,
  &.wall_down::before, &.wall_down::after,
  &.wall::after, &.wall::before {
    display: none;
    content: unset;
  }

  &.no_trans {
    transition: unset;
  }

  &.wall:not(#end):not(#start) {
    background-color: rgb(104, 91, 68);
    box-shadow: inset 0 0 0 0.5px lighten(rgb(104, 91, 68), 10);
    border: none;
    transform: unset;
  }
  
}