footer {
  grid-area: 2 / 1 / 3 / -1;
  align-self: end;
  z-index: 999;
  display: flex;
  justify-content: space-between;

  section {
    display: flex;
    padding: 10px;
    padding-bottom: 8px;
    background-color: rgb(38, 79, 112);
    &:first-of-type {
      border-top-right-radius: 10px;
    }
    &:last-of-type {
      border-top-left-radius: 10px;
    }
  }

  section.buttons {
    
    button {
      align-self: center;
      justify-self: center;
      font-size: 1em;
      background: none;
      color: inherit;
      border: none;
      margin: 0;
      &:hover, &:focus {
        outline: none;
        cursor: pointer;
      }
      &:focus {
        @include focus()
      }
    }
  
    .playPause {
      justify-self: center;
      align-self: center;
      width: 30px; height: 30px;
      padding: 10px;
      border-radius: 10px;
      &:hover, &:focus {
        background-color: rgba(0,0,0,0.3);
        cursor: pointer;
      }
      &:focus {
        outline: none;
        @include focus();
      }
      &:hover div, &:focus div {
        opacity: 1;
        transition: opacity 200ms ease-in-out 1.5s;
      }
      #pause {
        display: initial;
        fill: white;
      }
      #play {
        display: none;
        fill: white;
      }
      #pause_message {
        display: initial;
      }
      #play_message {
        display: none;
      }
    }
  
    #reset, #clear{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 10px;
      border-radius: 10px;
  
      &:hover, &:focus {
        background-color: rgba(0,0,0,0.3);
      }
    }
  
    #reset {
      margin: 0 10px;
      &:hover, &:focus {
        svg {
          animation: rotate 1.2s ease-in-out forwards;
        }
      }
  
      svg {
        fill: none;
        stroke: white;
        stroke-width: 2.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        width: 30px;
      }
  
      @keyframes rotate {
        from {transform: rotate(0);}
        to {transform: rotate(-360deg);}
      }
    }
  
    #clear {
      &:hover, &:focus {
        background-color: rgba(0,0,0,0.3);
        svg #eraserPath {
          transform: translate(-5px, 0) scaleX(1.5);
          animation: eraser 1s ease-in-out infinite;
        }
      }
  
      svg {
        fill: none;
        stroke: white;
        stroke-width: 1.8;
        stroke-linecap: round;
        stroke-linejoin: round;
        width: 35px;
      }
  
      @keyframes eraser {
        0% {
          transform: translate(0, 0) scaleX(1);
        }
        50% {
          transform: translate(-10px, 0) scaleX(1.7);
        }
        100% {
          transform: translate(0, 0) scaleX(1);
        }
      }
    }
  }

  section.settings {
    > input#settings {
      display: none;
      &:checked {
        & ~ ul {
          transform: translate(0);
          .background {
            opacity: 1;
          }
        }
        & ~ label svg {
          fill: rgb(24, 47, 66);
          animation: none;
        }
      }
    }
  }
}

@import "./settings.scss";
