.optionsMenu {
  position: relative;
  z-index: 999;
  box-sizing: border-box;
  grid-area: 1 / 1 / 2 / -1;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  color: white;
  pointer-events: none;

  button {
    font-size: 1em;
    background: none;
    color: inherit;
    border: none;
    margin: 0;
    &:hover, &:focus {
      outline: none;
      cursor: pointer;
    }
    &:focus {
      @include focus()
    }
  }

  .menu_section {
    position: relative;
    pointer-events: all;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    padding-top: 8px;
    background-color: rgb(38, 79, 112);
    border-bottom-right-radius: 10px;

    > label, button {
      border-radius: 10px;
    }

    > input#mazes, > input#algorithms {
      display: none;
      &:checked {
        & + label {
          span svg {
            transform: rotateX(180deg);
          }
          > ul {
            transform: scaleY(1);
            transition: transform 200ms ease-in-out ;

            &:before {
              max-height: 11px;
              transition: max-height 200ms ease-in-out;
            }
          }
        }
      }
      &:disabled + label {
        background: rgba(172, 21, 21, 0.2);
        box-shadow: 0 0 0 3px rgb(223, 1, 1) inset;
        cursor: default;
      }
    }
  
    .dropdown {
      padding: 0.8em 1em;
      position: relative;
      display: grid;
      transition: background-color 200ms ease-in-out;
  
      &:hover, &:focus {
        background-color: rgba(0,0,0,0.3);
      }
      &:focus {
        outline: none;
        @include focus();
      }
  
      > span {
        font-size: 0.8em;
        font-weight: 500;
        text-transform: uppercase;
        align-self: center;
        justify-self: center;
        display: flex;
        svg {
          margin-left: 10px;
          width: 15px;
          fill: none;
          stroke: white;
          stroke-width: 1;
          stroke-linecap: round;
          stroke-linejoin: round;
          transition: transform 200ms ease-in-out;
        }
      }
     
      > ul {
        font-size: 0.8em;
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column;

        color: rgb(24, 47, 66);

        position: absolute;
        z-index: 9;
        top: calc(100% + 10px);
        left: 0;
        min-width: 100%;

        transform-origin: top;
        transform: scaleY(0);

        transition: transform 200ms ease-in-out;
  
        &::before {
          content: '';
          position: relative;
          top: 1px;
          align-self: center;
          display: block;
          width: 30px; height: 11px;
          max-height: 0;
          background-color: white;
          clip-path: polygon(0 100%, 50% 0, 100% 100%);
          transition: max-height 200ms ease-in-out;
        }
  
        li {
          background-color: white;
          pointer-events: none;
          position: relative;
          list-style: none;
          display: flex;
          flex-direction: column;

          &:first-of-type {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }

          &:last-of-type {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
  
          button, span {
            display: block;
            pointer-events: all;
            font-weight: 500;
            text-transform: uppercase;
            width: 100%;
            box-sizing: border-box;
            padding: 1em 1em;
            white-space: nowrap;
            border: none;
            text-align: left;
            transition: transform 200ms ease-in-out;
            &:hover {
              transform: translate(0.3em);
            }
            &:focus {
              box-shadow: none;
            }
          }

          &.nested_menu:hover {
            ul {
              max-width: 200px;
              max-height: 400px;
              animation: nested_menu 800ms ease-in-out forwards;
            }

            &::after {
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(1px, -50%);
              display: block;
              width: 11px; height: 30px;
              background-color: rgb(24, 47, 66);
              clip-path: polygon(100% 0, 0 50%, 100% 100%);
            }
          }

          ul {
            padding: 0;
            margin: 0;
            position: absolute; 
            top: 50%;
            transform: translateY(-51%);
            left: 100%;
            border-radius: 10px;
            background: rgb(24, 47, 66);
            overflow: hidden;
            max-width: 0;
            max-height: 0;

            display: flex;
            flex-direction: column;

            li {
              background: rgb(24, 47, 66);
              color: white;
            }
          }

          @keyframes nested_menu {
            0% { 
              max-height: 3.1em;
              max-width: 0;
            }
            30% { 
              max-height: 3.1em;
              max-width: 200px;
            }
            100% { 
              max-height: 400px;
              max-width: 200px;
            }
          }
        }
      }
    }

    #algo_title {
      padding: 0.8em 1em;
      border-radius: 10px;
      background-color: white;
      font-size: 0.8em;
      font-weight: 500;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(38, 79, 112);
    }

    #startButton {
      font-size: 0.8em;
      font-weight: 500;
      padding: 0.8em 1em;
      background-color: rgb(92, 185, 88);
      transition: background-color 100ms linear;
      border-radius: 10px;
  
      &:hover:not(:disabled), &:focus:not(:disabled) {
        background-color: darken($color: rgb(92, 185, 88), $amount: 5);
        cursor: pointer;
      }
      &:disabled {
        box-shadow: 0 0 0 3px rgb(223, 1, 1) inset;
        cursor: default;
      }
      &.error {
        background-color: rgb(223, 1, 1);
      }
    }
  }

  #warning {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    overflow: hidden;
    max-height: 0;
    background-color: rgb(223, 1, 1);
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 0.8em;
    text-transform: uppercase;
    transition: max-height 200ms ease-in-out;
    display: flex;
    align-items: center;
    span {
      display: block;
      padding: 10px;
    }
    svg {
      margin-left: 10px;
      height: 1.3em;
      fill: white;
      .a {
        fill:none;
        stroke:white;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-width:2px;
      }
    }
  }

}