.settings__toggle {
  padding: 10px;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms ease-in-out;

  &:hover, &:focus {
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    > svg {
      animation: rotateSettings 1s ease-in-out forwards;
    }
  }

  > svg {
    position: relative;
    z-index: 9999;
    width: 35px;
    height: auto;
    fill: white;
  }

  @keyframes rotateSettings {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-180deg) translate(-1%);
    }
  }
}

.settings__menu {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: rgb(24, 47, 66);
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  min-width: 300px;
  transform-origin: right;
  transform: translate(100%);
  transition: transform 300ms ease-in;


  .background {
    pointer-events: none;
    position: absolute;
    z-index: 9;
    right: 100%;
    top: 0;
    width: 100vw; height: 100vh;
    opacity: 0;
    background-color: rgba(0,0,0,0.3);
  }

  li {
    position: relative;
    list-style: none;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    &:first-of-type {
      border-top: 1px solid rgba(0,0,0,0.1);
    }

    span.title {
      font-size: 1.2em;
      font-weight: 500;
      margin-bottom: 0.5em;
      text-transform: uppercase;
      svg {
        display: inline-block;
        vertical-align: text-bottom;
        height: 1em;
        margin-bottom: 0.1em;
        margin-right: 0.5ch;
        width: auto;
        fill: rgb(24, 47, 66);
      }
    }

    div.options {
      font-size: 0.8em;
      border-radius: 10px;
      background: rgba(24, 47, 66, 0.2);
      overflow: hidden;
      display: flex;

      input {
        display: none;
        &:checked + label {
          background: rgb(38, 79, 112);
        }
        &:disabled + label {
          background: rgba(172, 21, 21, 0.2);
        }
        &:disabled:checked + label {
          background:rgba(172, 21, 21, 1);
        }
      }

      label {
        display: block;
        padding: 0.6em 1em;
        font-weight: 500;
        color: white;
        cursor: pointer;
      }
    }

    .slider {
      align-self: stretch;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
  
      input {
        display: block;
        appearance: none;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        margin-right: 1em;
        background-color: rgba(0,0,0,0.3);

        &:focus {
          outline: none;
          &::-webkit-slider-thumb {
            transform: scale(1.3);
            @include focus();
          }
        }
        
  
        &::-webkit-slider-thumb {
          appearance: none;
          border: none;
          width: 1em; height: 1em;
          border-radius: 50%;
          background-color: rgb(38, 79, 112);
          transition: transform 100ms ease-in;
  
          &:hover, &:active {
            transform: scale(1.3);
          }
        }
      }
  
      div {
        position: relative;
        font-size: 1em;
        font-weight: 400;
        width: 1.7em; 
        height: 1.5em;
        padding: 0.2em;
        border-radius: 10px;
        color: white;
        background-color: rgb(38, 79, 112);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          display: block;
        }

        &:after {
          content: "";
          position: absolute;
          z-index: -1;
          height: 85%;
          width: 50%;
          right: 75%;
          top: 50%;
          transform: translateY(-50%);
          background-color: inherit;
          clip-path: polygon(100% 0, 0 50%, 100% 100%);
        }
      }
    }
  }
}