html {
  overflow: hidden;
  height: 100vh;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto minmax(0, 1fr);
      grid-template-rows: auto minmax(0, 1fr);
  background-color: #dddddd;
  font-family: Montserrat;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

button {
  font-family: Montserrat;
}

#playPause {
  display: none;
  position: absolute;
}

#playPause:checked ~ footer #play {
  display: initial;
}

#playPause:checked ~ footer #pause {
  display: none;
}

#playPause:checked ~ .pausedScreen {
  pointer-events: initial;
  opacity: 1;
}

.pausedScreen {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 50ms ease-in-out;
  transition: opacity 50ms ease-in-out;
  grid-area: 1 / 1 / -1 / -1;
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.pausedScreen label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pausedScreen label svg {
  margin-top: 10px;
  width: 30px;
  fill: white;
}

main {
  grid-area: 1 / 1 / -1 / -1;
}

.optionsMenu {
  position: relative;
  z-index: 999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-area: 1 / 1 / 2 / -1;
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  pointer-events: none;
}

.optionsMenu button {
  font-size: 1em;
  background: none;
  color: inherit;
  border: none;
  margin: 0;
}

.optionsMenu button:hover, .optionsMenu button:focus {
  outline: none;
  cursor: pointer;
}

.optionsMenu button:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(16, 95, 241, 0.801) inset;
          box-shadow: 0 0 0 3px rgba(16, 95, 241, 0.801) inset;
}

.optionsMenu .menu_section {
  pointer-events: all;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  padding-top: 8px;
  background-color: #264f70;
  border-bottom-right-radius: 10px;
}

.optionsMenu .menu_section > * {
  border-radius: 10px;
}

.optionsMenu .menu_section > input#mazes, .optionsMenu .menu_section > input#algorithms {
  display: none;
}

.optionsMenu .menu_section > input#mazes:checked + label span svg, .optionsMenu .menu_section > input#algorithms:checked + label span svg {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.optionsMenu .menu_section > input#mazes:checked + label ul, .optionsMenu .menu_section > input#algorithms:checked + label ul {
  max-height: 400px;
  -webkit-transition: max-height 200ms ease-in-out;
  transition: max-height 200ms ease-in-out;
}

.optionsMenu .menu_section > input#mazes:disabled + label, .optionsMenu .menu_section > input#algorithms:disabled + label {
  background: rgba(172, 21, 21, 0.2);
  -webkit-box-shadow: 0 0 0 3px #df0101 inset;
          box-shadow: 0 0 0 3px #df0101 inset;
  cursor: default;
}

.optionsMenu .menu_section .dropdown {
  padding: 0.8em 1em;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.optionsMenu .menu_section .dropdown:hover, .optionsMenu .menu_section .dropdown:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.optionsMenu .menu_section .dropdown:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px rgba(16, 95, 241, 0.801) inset;
          box-shadow: 0 0 0 3px rgba(16, 95, 241, 0.801) inset;
}

.optionsMenu .menu_section .dropdown span {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.optionsMenu .menu_section .dropdown span svg {
  margin-left: 10px;
  width: 15px;
  fill: none;
  stroke: white;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.optionsMenu .menu_section .dropdown ul {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 0;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #182f42;
  position: absolute;
  z-index: 9;
  top: calc(100% + 5px);
  left: 0;
  min-width: 100%;
  -webkit-transition: max-height 200ms ease-in-out;
  transition: max-height 200ms ease-in-out;
}

.optionsMenu .menu_section .dropdown ul::before {
  content: '';
  position: relative;
  top: 1px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  width: 30px;
  height: 11px;
  background-color: white;
  -webkit-clip-path: polygon(0 100%, 50% 0, 100% 100%);
          clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.optionsMenu .menu_section .dropdown ul li {
  background-color: white;
  pointer-events: none;
  overflow: hidden;
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.optionsMenu .menu_section .dropdown ul li:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.optionsMenu .menu_section .dropdown ul li:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.optionsMenu .menu_section .dropdown ul li button {
  display: block;
  pointer-events: all;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  padding: 1em 1em;
  white-space: nowrap;
  border: none;
  text-align: left;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.optionsMenu .menu_section .dropdown ul li button:hover {
  -webkit-transform: translate(0.3em);
          transform: translate(0.3em);
}

.optionsMenu .menu_section .dropdown ul li button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.optionsMenu .menu_section #algo_title {
  padding: 0.8em 1em;
  border-radius: 10px;
  background-color: white;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #264f70;
}

.optionsMenu .menu_section #startButton {
  font-size: 0.8em;
  font-weight: 500;
  padding: 0.8em 1em;
  background-color: #5cb958;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  border-radius: 10px;
}

.optionsMenu .menu_section #startButton:hover:not(:disabled), .optionsMenu .menu_section #startButton:focus:not(:disabled) {
  background-color: #4dae49;
  cursor: pointer;
}

.optionsMenu .menu_section #startButton:disabled {
  -webkit-box-shadow: 0 0 0 3px #df0101 inset;
          box-shadow: 0 0 0 3px #df0101 inset;
  cursor: default;
}

.optionsMenu .menu_section #startButton.error {
  background-color: #df0101;
}

footer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-area: 2 / 1 / 3 / -1;
  -ms-flex-item-align: end;
      align-self: end;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
}

footer section {
  pointer-events: all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  padding-bottom: 8px;
  background-color: #264f70;
}

footer section:first-of-type {
  border-top-right-radius: 10px;
}

footer section:last-of-type {
  border-top-left-radius: 10px;
}

footer section.buttons button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1em;
  background: none;
  color: inherit;
  border: none;
  margin: 0;
}

footer section.buttons button:hover, footer section.buttons button:focus {
  outline: none;
  cursor: pointer;
}

footer section.buttons button:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(16, 95, 241, 0.801) inset;
          box-shadow: 0 0 0 3px rgba(16, 95, 241, 0.801) inset;
}

footer section.buttons .playPause {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

footer section.buttons .playPause:hover, footer section.buttons .playPause:focus {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

footer section.buttons .playPause:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px rgba(16, 95, 241, 0.801) inset;
          box-shadow: 0 0 0 3px rgba(16, 95, 241, 0.801) inset;
}

footer section.buttons .playPause:hover div, footer section.buttons .playPause:focus div {
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in-out 1.5s;
  transition: opacity 200ms ease-in-out 1.5s;
}

footer section.buttons .playPause #pause {
  display: initial;
  fill: white;
}

footer section.buttons .playPause #play {
  display: none;
  fill: white;
}

footer section.buttons .playPause #pause_message {
  display: initial;
}

footer section.buttons .playPause #play_message {
  display: none;
}

footer section.buttons #reset, footer section.buttons #clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

footer section.buttons #reset:hover, footer section.buttons #reset:focus, footer section.buttons #clear:hover, footer section.buttons #clear:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

footer section.buttons #reset {
  margin: 0 10px;
}

footer section.buttons #reset:hover svg, footer section.buttons #reset:focus svg {
  -webkit-animation: rotate 1.2s ease-in-out forwards;
          animation: rotate 1.2s ease-in-out forwards;
}

footer section.buttons #reset svg {
  fill: none;
  stroke: white;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 30px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

footer section.buttons #clear:hover, footer section.buttons #clear:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

footer section.buttons #clear:hover svg #eraserPath, footer section.buttons #clear:focus svg #eraserPath {
  -webkit-transform: translate(-5px, 0) scaleX(1.5);
          transform: translate(-5px, 0) scaleX(1.5);
  -webkit-animation: eraser 1s ease-in-out infinite;
          animation: eraser 1s ease-in-out infinite;
}

footer section.buttons #clear svg {
  fill: none;
  stroke: white;
  stroke-width: 1.8;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 35px;
}

@-webkit-keyframes eraser {
  0% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
  }
  50% {
    -webkit-transform: translate(-10px, 0) scaleX(1.7);
            transform: translate(-10px, 0) scaleX(1.7);
  }
  100% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
  }
}

@keyframes eraser {
  0% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
  }
  50% {
    -webkit-transform: translate(-10px, 0) scaleX(1.7);
            transform: translate(-10px, 0) scaleX(1.7);
  }
  100% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
  }
}

footer section.settings > input#settings {
  display: none;
}

footer section.settings > input#settings:checked ~ ul {
  -webkit-transform: translate(0);
          transform: translate(0);
}

footer section.settings > input#settings:checked ~ ul .background {
  opacity: 1;
}

footer section.settings > input#settings:checked ~ label svg {
  fill: #182f42;
  -webkit-animation: none;
          animation: none;
}

.settings__toggle {
  padding: 10px;
  border-radius: 10px;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.settings__toggle:hover, .settings__toggle:focus {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.settings__toggle:hover > svg, .settings__toggle:focus > svg {
  -webkit-animation: rotateSettings 1s ease-in-out forwards;
          animation: rotateSettings 1s ease-in-out forwards;
}

.settings__toggle > svg {
  position: relative;
  z-index: 9999;
  width: 35px;
  height: auto;
  fill: white;
}

@-webkit-keyframes rotateSettings {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-180deg) translate(-1%);
            transform: rotate(-180deg) translate(-1%);
  }
}

@keyframes rotateSettings {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-180deg) translate(-1%);
            transform: rotate(-180deg) translate(-1%);
  }
}

.settings__menu {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  color: #182f42;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  min-width: 300px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.settings__menu .background {
  pointer-events: none;
  position: absolute;
  z-index: 9;
  right: 100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.settings__menu li {
  position: relative;
  list-style: none;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.settings__menu li:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.settings__menu li span.title {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.settings__menu li span.title svg {
  display: inline-block;
  vertical-align: text-bottom;
  height: 1em;
  margin-bottom: 0.1em;
  margin-right: 0.5ch;
  width: auto;
  fill: #182f42;
}

.settings__menu li span.title svg .a {
  fill: rgba(24, 47, 66, 0.5);
}

.settings__menu li span.title svg .b {
  fill: rgba(24, 47, 66, 0.8);
}

.settings__menu li div.options {
  font-size: 0.8em;
  border-radius: 10px;
  background: rgba(24, 47, 66, 0.2);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settings__menu li div.options input {
  display: none;
}

.settings__menu li div.options input:checked + label {
  background: #264f70;
}

.settings__menu li div.options input:disabled + label {
  background: rgba(172, 21, 21, 0.2);
}

.settings__menu li div.options input:disabled:checked + label {
  background: #ac1515;
}

.settings__menu li div.options label {
  display: block;
  padding: 0.6em 1em;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.settings__menu li .slider {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.settings__menu li .slider input {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-right: 1em;
  background-color: rgba(0, 0, 0, 0.3);
}

.settings__menu li .slider input:focus {
  outline: none;
}

.settings__menu li .slider input:focus::-webkit-slider-thumb {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: 0 0 0 3px rgba(16, 95, 241, 0.801) inset;
          box-shadow: 0 0 0 3px rgba(16, 95, 241, 0.801) inset;
}

.settings__menu li .slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  border: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #264f70;
  -webkit-transition: -webkit-transform 100ms ease-in;
  transition: -webkit-transform 100ms ease-in;
  transition: transform 100ms ease-in;
  transition: transform 100ms ease-in, -webkit-transform 100ms ease-in;
}

.settings__menu li .slider input::-webkit-slider-thumb:hover, .settings__menu li .slider input::-webkit-slider-thumb:active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.settings__menu li .slider div {
  position: relative;
  font-size: 1em;
  font-weight: 400;
  width: 1.7em;
  height: 1.5em;
  padding: 0.2em;
  border-radius: 10px;
  color: white;
  background-color: #264f70;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settings__menu li .slider div span {
  display: block;
}

.settings__menu li .slider div:after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 85%;
  width: 50%;
  right: 75%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: inherit;
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
          clip-path: polygon(100% 0, 0 50%, 100% 100%);
}
/*# sourceMappingURL=main.css.map */