html {
  overflow: hidden;
  height: 100vh;
}

body {
  margin: 0;
  width: 100vw; height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: rgb(221, 221, 221);
  font-family: Montserrat;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

button {
  font-family: Montserrat;
}

@mixin focus {
  box-shadow: 0 0 0 3px rgba(16, 95, 241, 0.801) inset;
}

.optionsMenu {
  box-sizing: border-box;
  padding: 0 1vw;
  grid-area: 1 / 1 / 2 / -1;
  width: 100vw;
  height: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1.1fr) repeat(2, 2.85fr) 3.5fr auto repeat(3, 3.8fr) 1.1fr;
  justify-content: center;
  background-color: rgb(38, 79, 112);
  color: white;

  #algo_title {
    align-self: center;
    justify-self: center;
    text-align: center;
    margin: 0 1em;
    padding: 7px 9px;
    border-radius: 10px;
    background-color: white;
    color: rgb(38, 79, 112)
  }

  #algo_update {
    align-self: center;
    justify-self: center;
    position: relative;
    width: 100px;
    margin-top: 10.9px;
    svg {
      #status_circle_default {
        stroke: white;
        stroke-width: 1.4;
        fill: none;
        stroke-linecap: round;
      }
      #status_circle_percent {
        position: relative;
        z-index: 99999;
        stroke: rgb(92, 185, 88);
        stroke-width: 1.4;
        stroke-linecap: round;
        fill: none;
        stroke-dasharray: 35;
        stroke-dashoffset: 35;
      }
    }
    & > span {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 6;
      color: white;
    }
  }

  button {
    align-self: center;
    justify-self: center;
    font-size: 1em;
    background: none;
    color: inherit;
    border: none;
    margin: 0;
    &:hover, &:focus {
      outline: none;
      cursor: pointer;
    }
    &:focus {
      @include focus()
    }
  }

  #reset, #clear{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    border-radius: 5px;

    &:hover, &:focus {
      background-color: rgba(0,0,0,0.3);
    }
  }

  #reset {
    &:hover, &:focus {
      svg {
        animation: rotate 1.2s ease-in-out forwards;
      }
    }

    svg {
      fill: none;
      stroke: white;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-linejoin: round;
      width: 35px;
    }

    @keyframes rotate {
      from {transform: rotate(0);}
      to {transform: rotate(-360deg);}
    }
  }

  #clear {
    &:hover, &:focus {
      background-color: rgba(0,0,0,0.3);
      svg #eraserPath {
        transform: translate(-5px, 0) scaleX(1.5);
        animation: eraser 1s ease-in-out infinite;
      }
    }

    svg {
      fill: none;
      stroke: white;
      stroke-width: 1.8;
      stroke-linecap: round;
      stroke-linejoin: round;
      width: 40px;
    }

    @keyframes eraser {
      0% {
        transform: translate(0, 0) scaleX(1);
      }
      50% {
        transform: translate(-10px, 0) scaleX(1.7);
      }
      100% {
        transform: translate(0, 0) scaleX(1);
      }
    }
  }

  &__menu {
    position: relative;
    display: grid;
    grid-template-rows: auto;

    &:hover, &:focus {
      background-color: rgba(0,0,0,0.3);
    }
    &:focus {
      outline: none;
      @include focus();
    }

    input {
      display: none;
      &:checked {
        & + span svg {
          transform: rotate(180deg);
        }
        & ~ ul {
          max-height: 400px;
          transition: max-height 200ms ease-in-out;
          li {
            pointer-events: all;
            opacity: 1;
            transition: opacity 200ms ease-in-out 100ms;
          }
        }
        
      }
    }

    span {
      align-self: center;
      justify-self: center;
      display: flex;
      svg {
        margin-left: 10px;
        width: 20px;
        fill: none;
        stroke: white;
        stroke-width: 1;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
   
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      max-height: 0;
      flex-direction: column;
      background-color: white;
      color: rgb(24, 47, 66);
      position: absolute;
      z-index: 9;
      top: 100%;
      left: 0;
      min-width: 100%;
      transition: max-height 200ms ease-in-out 100ms;

      li {
        pointer-events: none;
        opacity: 0;
        position: relative;
        list-style: none;
        display: flex;
        flex-direction: column;
        transition: opacity 200ms ease-in-out;

        button {
          width: 100%;
          padding: 0.8em 1em;
          white-space: nowrap;
          border: none;
          text-align: left;
          &:hover {
            background-color: rgba(24, 47, 66, 0.3);
          }
        }

        &:first-of-type {
          button:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 99%; left: 10%;
            width: 30px; height: 10px;
            background-color: white;
            clip-path: polygon(0 100%, 50% 0, 100% 100%);
          }
          button:hover:after {
            background-color: rgb(185, 192, 198);
          }
        }
      }
    }
  }

  #startButton {
    align-self: center;
    justify-self: center;
    font-size: 1.3em;
    margin: 0 1em;
    padding: 0.5em 1em;
    background-color: rgb(92, 185, 88);
    transition: background-color 50ms linear;
    border-radius: 0.7em;

    &:hover:not(:disabled), &:focus:not(:disabled) {
      background-color: darken($color: rgb(92, 185, 88), $amount: 5);
      cursor: pointer;
    }
    &:disabled {
      box-shadow: 0 0 0 3px rgb(223, 1, 1) inset;
      cursor: default;
    }
    &.error {
      background-color: rgb(223, 1, 1);
    }
  }

  &__playPause {
    justify-self: center;
    align-self: center;
    width: 35px; height: 35px;
    padding: 10px;
    border-radius: 5px;
    &:hover, &:focus {
      background-color: rgba(0,0,0,0.3);
      cursor: pointer;
    }
    &:focus {
      outline: none;
      @include focus();
    }
    &:hover div, &:focus div {
      opacity: 1;
      transition: opacity 200ms ease-in-out 1.5s;
    }
    #pause {
      display: initial;
      fill: white;
    }
    #play {
      display: none;
      fill: white;
    }
    #pause_message {
      display: initial;
    }
    #play_message {
      display: none;
    }
    div {
      opacity: 0;
      position: absolute;
      z-index: 99;
      top: 100%;
      left: 18px;
      padding:  0.5em 0.8em;
      padding-top: 1em;
      background-color: rgb(39, 52, 63);
      clip-path: polygon(25% 0%, 10% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 40% 20%);
    }
  }

  &__slider {
    align-self: flex-end;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    input {
      margin-top: 10px;
      display: block;
      appearance: none;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      &:focus {
        outline: none;
        &::-webkit-slider-thumb {
          transform: scale(1.3);
          @include focus();
        }
      }
      

      &::-webkit-slider-thumb {
        appearance: none;
        border: none;
        width: 13px; height: 13px;
        border-radius: 50%;
        background-color: white;
        transition: transform 100ms ease-in;

        &:hover, &:active {
          transform: scale(1.3);
        }
      }
    }

    div {
      position: absolute;
      bottom: 94%;
      clip-path: url(#slider_unit_clipPath);
      width: 20px; height: 26px;
      color: rgb(38, 79, 112);
      background-color: white;
      display: flex;
      align-items: flex-start; justify-content: center;
      &#random_sld_value {
        width: 22px;
      }
      span {
        font-size: 0.3em;
        font-weight: 600;
        margin: 0;
        margin-top: 5px;
      }
    }

    span {
      margin: 10px 3px;
      font-size: 0.8em;
    }
  }

  > input#settings {
    display: none;
    &:checked {
      & ~ ul {
        transform: translate(0);
        .background {
          opacity: 1;
        }
      }
      & ~ label svg {
        fill: rgb(24, 47, 66);
        animation: none;
      }
    }
  }

  &__settings {
    padding: 10px;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover, &:focus {
      background-color: rgba(0,0,0,0.3);
      cursor: pointer;
      > svg {
        animation: rotateSettings 1s ease-in-out forwards;
      }
    }

    > svg {
      position: relative;
      z-index: 999;
      width: 35px;
      height: auto;
      fill: white;
    }

    @keyframes rotateSettings {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(-180deg) translate(-1%);
      }
    }

    &__menu {
      padding: 0;
      padding-top: 90px;
      margin: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      background-color: white;
      color: rgb(24, 47, 66);
      position: absolute;
      z-index: 99;
      top: 0;
      right: 0;
      min-width: 300px;
      transform-origin: right;
      transform: translate(100%);
      transition: transform 300ms ease-in;

      .background {
        pointer-events: none;
        position: absolute;
        z-index: 9;
        right: 100%;
        top: 0;
        width: 100vw; height: 100vh;
        opacity: 0;
        background-color: rgba(0,0,0,0.3);
      }

      li {
        position: relative;
        list-style: none;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid rgba(0,0,0,0.1);

        &:first-of-type {
          border-top: 1px solid rgba(0,0,0,0.1);
        }

        span.title {
          font-size: 1.2em;
          font-weight: 500;
          margin-bottom: 0.5em;
          svg {
            display: inline-block;
            vertical-align: text-bottom;
            height: 1em;
            margin-bottom: 0.1em;
            margin-right: 0.5ch;
            width: auto;
            fill: rgb(24, 47, 66);
            .a {
              fill: rgba(24, 47, 66, 0.5);
            }
            .b {
              fill: rgba(24, 47, 66, 0.8);
            }
          }
        }

        div {
          font-size: 0.8em;
          border-radius: 0.7em;
          background: rgba(24, 47, 66, 0.2);
          overflow: hidden;
          display: flex;
        }

        input {
          display: none;
          &:checked + label {
            background: rgb(38, 79, 112);
          }
          &:disabled + label {
            background: rgba(172, 21, 21, 0.2);
          }
        }

        label {
          display: block;
          padding: 0.6em 1em;
          font-weight: 500;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

#playPause {
  display: none;
  position: absolute;
  &:checked + .optionsMenu #play {display: initial;}
  &:checked + .optionsMenu #pause {display: none;}
  &:checked + .optionsMenu #play_message {display: initial;}
  &:checked + .optionsMenu #pause_message {display: none;}
  &:checked ~ .pausedScreen {
    pointer-events: initial;
    opacity: 1;
  }
}

.pausedScreen {
  pointer-events: none;
  opacity: 0;
  transition: opacity 50ms ease-in-out;
  grid-area: 2 / 1 / -1 / -1;
  position: absolute;
  z-index: 999;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    svg {
      margin-top: 10px;
      width: 30px;
      fill: white;
    }
  }
}

main {
  grid-area: 2 / 1 / -1 / -1;
}

@media screen and (max-width: 1200px) {
  body {
    * { display: none !important; }
    &::after {
      content: "You must use a broswer window larger than 1226x625 pixels to see this project";
      width: 100vw;
      height: 100vh;
      box-sizing: border-box;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5vh 5vw;
    }
  }
}

@media screen and (max-height: 600px) {
  body {
    * { display: none !important; }
    &::after {
      content: "You must use a broswer window larger than 1226x625 pixels to see this project";
      width: 100vw;
      height: 100vh;
      box-sizing: border-box;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5vh 5vw;
    }
  }
}